@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
}

.container-fluid {
  width: 100%;
}

.card {
  background-color: #ff0000;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ff0000;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.btn-secondary:active {
  background-color: #dddddd;
  border-color: #dddddd;
}

.imagem {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}