/* Adicione os estilos personalizados aqui */
.container {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  #character {
    width: 120px;
    height: 120px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .score {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  
  #color-box {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
  
  .input-container {
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  #color-input {
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    border-radius: 8px;
  }
  
  #message {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .instructions {
    margin-top: 20px;
  }
  
  .instructions h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .instructions ul {
    margin-left: 15px;
  }
  