@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  
}

.container {
  min-height: 100vh;
}

.card {
  background-color: #ff0000;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ff0000;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.btn-secondary:active {
  background-color: #dddddd;
  border-color: #dddddd;
}

.imagem {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

#character {
  width: 120px;
  height: 120px;
}

p {
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.score {
  font-size: 20px;
  margin-bottom: 15px;
}


#color-box {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.input-container {
  flex-direction: column;
  margin-bottom: 15px;
}

#color-input {
  border-radius: 8px;
  margin-bottom: 10px;
}

button[type="submit"] {
  border-radius: 8px;
}

#message {
  font-size: 20px;
  margin-top: 10px;
}

.instructions {
  margin-top: 20px;
}

.instructions h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.instructions ul {
  margin-left: 15px;
}
.color-box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.vermelho {
  background-color: red;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

.amarelo {
  background-color: yellow;
}

.roxo {
  background-color: purple;
}

.laranja {
  background-color: orange;
}
